@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *{
      @apply m-0 p-0 box-border select-none ;
  }
}

@layer components{
  .icon-music-control{
    @apply text-white text-3xl cursor-pointer;
  }
  .icon-social{
    @apply text-white text-4xl mx-3 cursor-pointer;
  }
  .menu-icon{
    @apply text-white text-2xl;
  }
  .slider-round{
    @apply border border-white rounded-full w-2 h-2;
  }
}

*{
  -webkit-tap-highlight-color:transparent;
  scrollbar-width: none;
  
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
} 

